<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <link rel="stylesheet" href="{% static 'fdelectro/font-awesome/css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'fdelectro/bootstrap-social/bootstrap-social.css'%}">
    <link rel="stylesheet" href="{% static 'fdelectro/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static '/fdelectro/style.css'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electronique</title>
</head>

<body class="bd">
    {% block body %}
    <div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="content">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Register </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form action='/fdelectro/signin/command/5' method='post'>{% csrf_token %}
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-sm-4">
                                    <label class="sr-only" for="exampleInputEmail3">firstName </label>
                                    <input required="true" type="text" class="form-control form-control-sm mr-1" id="FN" name="firstName" placeholder="firstName ">
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="sr-only" for="exampleInputPassword3">lastName</label>
                                <input type="text" class="form-control form-control-sm mr-1" id="LN" name="lastName" placeholder="lastName">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-4">
                                    <label class="sr-only" for="exampleInputEmail3">Identifiant</label>
                                    <input required="true" type="text" class="form-control form-control-sm mr-1" id="ID" name="Identifiant" placeholder="Identifiant">
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="sr-only" for="exampleInputPassword3">Password</label>
                                <input type="password" class="form-control form-control-sm mr-1" id="pwd" name="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-4">
                                <label class="sr-only" for="exampleInputPassword3">Confirm your Password</label>
                                <input type="password" class="form-control form-control-sm mr-1" id="exampleInputPassword3" placeholder="Confirm your Password">
                            </div>
                            <div class="form-group col-sm-4">    
                                <select required="true"  class="form-control" name="grade" id="Grade">
                                    <option >Lieutenant Colonel</option>
                                    <option >Chef d'Escadron</option>
                                    <option >Capitaine</option>
                                    <option >Lieutenant</option>
                                    <option >Combatant</option>
                                </select>
                            </div>
                        </div>
    			        <div class="form-row">
                            <button type="button" class="btn btn-secondary btn-sm ml-auto" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary btn-sm ml-1">Register</button>        
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- le formulaire d'inscription -->
    <div id="formModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="content">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Login </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form action='/fdelectro/signin/command/' method='post'>
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-sm-4">
                                    <label class="sr-only" for="exampleInputEmail3">identifiant</label>
                                    <input required="true" type="text" name="Identifiant" class="form-control form-control-sm mr-1" id="exampleInputEmail3" placeholder="identifiant">
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="sr-only" for="exampleInputPassword3">Password</label>
                                <input required="true" type="password" name="password" class="form-control form-control-sm mr-1" id="exampleInputPassword3" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-row">
                            <button type="button" class="btn btn-secondary btn-sm ml-auto" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary btn-sm ml-1">Sign in</button>        
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-dark navbar-expand-sm bg-primary fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="" id="title" class="navbar-brand mr-auto"><i class="fa fa-computer"> IoT</i> </a>
            <div class="collapse navbar-collapse" id="Navbar"> 
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a data-toggle="modal" data-target="#formModal" href="index.html" class="nav-link btn btn-" role="button"> <i class="fa fa-sign-in"></i> Connexion</a>
                    </li>
                </ul>
                
            </div>
        </div>
    </nav>

    
    <header class="jumbotron bg-info">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-6">
                    
                    <h1 class="cr"> Electronique 4GI </h1>
                
                    <p class="cr"> Bienvenu, veillez vous connecter ou vous enregistrer !  </p>
                </div>

                <div class="col-12 col-sm align-self-center">
                    <img src="" class="img-fluid">
                </div>
            </div>
        </div>  
    </header>
    
    <div class="container">
        <form action='/fdelectro/signin/command/' method='post'>{% csrf_token %}
            <div class="form-group">
              <label for="identifiant">Votre identifiant</label>
              <input required="true" type="text" class="form-control" id="identifiant" name="Identifiant"  placeholder="identifiant">
              <small  class="form-text text-muted">prenez garde! mettez votre identifiant et non votre nom !.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Mot de passe</label>
              <input required="true" type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <hr>
          <span class="">
            <a data-toggle="modal" data-target="#loginModal" href="">
             vous n'avez pas encore de compte? enregistrez vous </a><span class="fa fa-sign-in"></span>
        </span>
        <hr>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis doloremque deleniti odio corporis consectetur velit magni. Commodi cum, rerum illo odit dolorem 
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti dolorem dolor distinctio dolore quo consequatur doloremque accusamus. Voluptatum illum mollitia, voluptas corrupti ab ipsam fuga reiciendis est accusantium maiores enim.
            beatae perferendis enim deleniti excepturi vel ab tempora.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates at dignissimos quas nesciunt voluptatibus assumenda quisquam, mollitia aperiam, odio esse maiores minus praesentium tenetur voluptatum architecto dicta nihil a error.
        </p>
    </div>
    

    <div class="row bg-info my_foo">
        <div class="col-7">
            <span><i class="fa fa-copyright cr">CopyRight 4GI</i> </span>
        </div>
        <div class="col-5">
            <span><i class="cr">Ced|deV</i> </span>
        </div>
    </div>


    <script src="{% static 'fdelectro/jquery/dist/jquery.slim.min.js' %}"></script>
    <script src= "{% static 'fdelectro/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'fdelectro/js/bootstrap.min.js' %}"></script>
    {% endblock %}
</body>
</html>
